.search-input {
  color: $body-text-color;
}

a:not([class]) {
  background-image: none;
}

.side-bar {
  width: auto;
}

blockquote {
  border-left: 8px solid $body-text-color;
  border-radius: 3px;
  margin: 1.5em 10px;
  padding: 0.5em 10px;

  & p {
    display: inline;
  }
}