#topics-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  grid-auto-rows: minmax(12rem, 1fr);
  margin-top: 1rem;
  gap: 1rem;
}

.topic {
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  transition: background-color 0.1s ease-in-out;
  user-select: none;
}
.topic:hover {
  background-color: #fff2;
  cursor: pointer;
}

.topic > * {
  margin: 0;
  width: 100%;
  text-align: center;
}

.topic .topic-title {
  font-size: 1.5rem;
  font-weight: bold;
}
.topic .topic-icon {
  border-radius: 10px;
}