#grammar-exercises {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin-top: 2rem;
  min-height: 60vh;

  --exercise-border: #f5f6fa;
  --akrat-border: #006400;
  --akrat-bg: #0f02;
  --unkrat-border: #8b0000;
  --unkrat-bg: #f002;
}

#grammar-exercises * {
  margin: 0;
}

#exercise-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
#next-button,
#submit-button,
#try-again-button {
  cursor: pointer;
  text-decoration: underline;
  user-select: none;
}
.hidden { display: none; }


#exercise-question {
  margin-top: 1.5rem;
  margin-bottom: 0;
  font-size: 1.25rem;
}


.exercise-arrange-block,
.exercise-answer {
  cursor: pointer;
  border-radius: 10px;
  padding: 0.75rem 1rem;
  height: min-content;
}
.exercise-arrange-block:hover,
.exercise-answer:hover {
  background-color: #fff2;
}

.exercise-arrange-block,
.exercise-answer,
#exercise-arrange-placed {
  transition: background-color 200ms;
  border: 1px solid var(--exercise-border);
}


.revealed.akrat {
  border: 1px solid var(--akrat-border) !important;
  background-color: var(--akrat-bg) !important;
}
.revealed.unkrat {
  border: 1px solid var(--unkrat-border) !important;
  background-color: var(--unkrat-bg) !important;
}



#exercise-answers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  font-size: 0.85rem;
}
.exercise-answer {
  width: 100%;
}
.exercise-answer.chosen::before {
  content: "✔";
}
#exercise-answers.revealed .exercise-answer {
  cursor: not-allowed;
}

#exercise-arrange-placed {
  padding: 0.5rem;
  border-radius: 10px;
  min-height: 20vh;
  margin: 0.5rem 0;
}
#exercise-arrange-placed:empty::before {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  content: "Click the words below and arrange them in the correct order.";
  color: #fff7;
  font-style: italic;
}
#exercise-arrange-placed.revealed > * { cursor: not-allowed; }

#exercise-arrange-placed,
#exercise-arrange-options {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 1rem;
  row-gap: 0.5rem;
}
.exercise-arrange-block {
  width: fit-content;
  user-select: none;
}